<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="PackageSkeleton Test Case">
            <directory suffix=".php">vendor/gennadyx/skeleton-tests/tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <exclude>
                <directory>./src/Exception</directory>
            </exclude>
            <directory>./src</directory>
        </whitelist>
    </filter>
</phpunit>
